.title {
    padding: 30px;
    text-align: center;
    font-size: 50px;
}

.main   {
    display: flex;
    justify-content: center;
    align-items: center;}
    .title span {
        color: black;
    }