*{
    padding: 0;
    margin: 0;
}
body{
    font-family: Roboto, sans-serif;
}
.header {
    border-bottom: 1px solid #e5e5e5;
    padding: 25px 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header .container {
    display: flex;
    align-items: center;
}
.menu {
    margin-left: 500px;
}
.menu ul{
    list-style: none;
    display: flex;
 }
.menu-item {
    margin-right: 50px;
}
.menu-item a {
    font-size: 15px;
    text-decoration: none;
    color: #030305;
}
.menu-item a:hover {
    border-bottom: 2px solid black;
}